.hamburger
  display: inline-flex
  cursor: pointer
  transition-property: opacity, filter
  transition-duration: 0.15s
  transition-timing-function: linear
  font: inherit
  color: inherit
  text-transform: none
  background-color: transparent
  border: 0
  margin: 0
  overflow: visible
  padding: 0

  transform: scale(5)
  transform-origin: top left

  &:hover
    opacity: 0.7
  &.is-active:hover
    opacity: 0.7

.hamburger-box
  width: 30px
  height: 24px
  position: relative

  & > .hamburger-top
    display: block
    top: 50%
    margin-top: -2px

  & > .hamburger-top,
  & > .hamburger-middle,
  & > .hamburger-bottom
    width: 30px
    height: 4px
    background-color: #000
    border-radius: 4px
    position: absolute
    transition-property: transform
    transition-duration: 0.15s
    transition-timing-function: ease

  & > .hamburger-middle
    top: -10px

  & > .hamburger-bottom
    bottom: -10px

  & > .hamburger-middle
    top: 10px
    transition-property: transform, opacity
    transition-timing-function: ease
    transition-duration: 0.15s

  & > .hamburger-bottom
    top: 20px

.hamburger--slider
  & .hamburger-box > .hamburger-top
    top: 2px

  &.is-active .hamburger-box
    & > .hamburger-top
      transform: translate(0, 10px) rotate(45deg)
    & > .hamburger-middle
      opacity: 0
    & > .hamburger-bottom
      transform: translate(0, -10px) rotate(-45deg)

button
  border: none
  outline: none
